@import "./partials/media-queries";
@import "./partials/design";
@import "./layout/header";
@import "./layout/landing";
@import "./layout/footer";

.prop__wrapper {
  background-color: $color_1;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  select {
    appearance: none;
    border: none;
    color: $color_3;
    font-family: $font-family_1;
    font-weight: 700;
    font-size: 2rem;
    display: flex;
    text-align: center;
    background-color: $color_3;
    height: 100%;
    width: 375px;
    option {
      color: $color_3;
      font-family: $font-family_2;
      font-weight: 500;
      font-size: 1.25rem;
    }
  }
}
.prop__categories {
  img {
    width: 50px;
    height: 50px;
    margin-right: 45px;
  }
}
.prop__browser {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20% 10px 0;
}
.prop__browser__bar {
  width: 100%;
  height: 50px;
  background-color: $color_1;
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 50px;
  input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 24px 24px 0px;
    font-family: $font-family_1;
    font-weight: 500;
    text-align: left;
  }
  button {
    img {
      width: 25px;
    }
    display: flex;
    align-items: center;
    background-color: $color_1;
    border: 0;
    border-radius: 50%;
    height: 35px;
    cursor: pointer;
  }
}

.prop__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.prop__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 275px;
  height: 350px;
  margin: 15px 15px;
  padding: 0 !important;
  border-radius: 20px;
  background: $color_3;
  object-fit: contain;
  img {
    border-radius: 20px 20px 0 0;
    height: 65%;
    width: 1000px;
    object-fit: fill;
    background-size: cover;
  }
  button {
    font-family: $font-family_1;
    font-weight: 500;
    background-color: $color_3;
    border: $color_5 solid 1px;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0 10px;
    &:hover {
      background-color: $color_5;
      border: $color_4 solid 1px;
      transition: 0.5s;
      cursor: pointer;
    }
  }
}
.prop__item__price {
  font-family: $font-family_1;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 5px auto;
}
.prop__item__desc {
  font-family: $font-family_1;
  font-weight: 500;
  text-align: center;
  padding: 0 10px;
  margin: 5px auto;
}

.wrapper__container {
  background-color: $color_1;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper__title {
  font-family: $font-family_1;
  font-weight: 700;
  font-size: 1.5rem;
  color: $color_1;
  margin: 0;
}
.section__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.section__text {
  color: $color_1;
  max-width: 600px;
}
.section__img {
  font-family: $font-family_1;
  font-weight: 500;
  font-size: 1.25rem;
  color: $color_1;
}
.prop__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 500px;
  font-family: $font-family_1;
  font-weight: 500;
  font-size: 1rem;
  color: $color_3;
  button {
    border-radius: 99rem;
    border-width: 2px;
  }
  input {
    margin: 10px;
    padding: 5px;
    height: 40px;
    width: 100%;
    max-width: 300px;
    background-color: $color_2;
    border: none;
    border: $color_1 solid 1px;
    border-radius: 10px;
  }
  select {
    margin: 10px;
    padding: 5px;
    height: 40px;
    width: 100%;
    max-width: 300px;
    background-color: $color_2;
    border: none;
    border: $color_1 solid 1px;
    border-radius: 10px;
  }
  textarea {
    margin: 10px;
    padding: 10px;
    height: 100px;
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    min-height: 150px;
    max-height: 300px;
    background-color: $color_2;
    border: none;
    border: $color_1 solid 1px;
    border-radius: 10px;
  }
  option {
    font-family: $font-family_2;
  }
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
  }
}
