@import "../components/header-divider";
@import "../components/nav";

.hero {
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: center;
  img {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 15px 0 15px;
  }
}

.hero__background {
  height: 100%;
  width: 100%;
  background-color: $color_3;
}